[submodule "fw/sub/micropython-mqtt"]
	path = ssreg6/fw/sub/micropython-mqtt
	url = https://github.com/peterhinch/micropython-mqtt.git
[submodule "fw/sub/micropython-mqtt-reg"]
	path = ssreg6/fw/sub/micropython-mqtt-reg
	url = https://github.com/burgrp/micropython-mqtt-reg.git
